/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* /////////////////////////////////////////////// */

:root {
    --p-text: black;
    --font-weight-title: 600;
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Link styling */
a:link {
    text-decoration: none;
    color: var(--p-text);
}

a:visited {
    text-decoration: none;
    color: var(--p-text);
}

a:active {
    text-decoration: none;
    color: var(--p-text);
}

a:hover {
    text-decoration: none;
    color: var(--p-text);
}
/* ---------------------*/

li {
    list-style-type: disc;
    color: rgb(65, 182, 65);
}

p {
    color: var(--p-text);
    font-weight: 500;
    font-family: var(--font);
}
b {
    font-weight: bold;
     font-family: var(--font);
}

h1 {
    font-size: 2em;
    font-family: var(--font);
    font-weight: var(--font-weight-title);
}

header {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

nav {
    margin: 1rem;
}

ul {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
}

h2 {
    font-size: 1.5em;
    font-weight: var(--font-weight-title);
    font-family: var(--font);
}
